<div class="comment">
	
	<div class="name">
		<h4><%= comment.name %></h4>
	</div>

	<div class="date">
		<%= time_ago_in_words comment.created_at %> ago
		<% if user_signed_in? %>
			| <%= link_to "Delete", [comment.post, comment], method: :delete, data: {confirm: "Are you sure?"} %>
		<% end %>
	</div>

	<div class="body">
		<%= comment.body %>
	</div>

</div>