<h1>jBlog</h1>

<%= link_to 'New Post', new_post_path %>

<hr/>

<% @posts.each do |post| %>
	<div class="postWrapper">
		<h3 class="title"><%= link_to post.title, post %></h3>
		<p class="date"><%= post.created_at %></p>
	</div>
<% end %>